html,body{
   height: 100%;
   margin: 0;
   font-size: 16px;
   font-family: "Lato"; 
   font-weight: 400;
   line-height: 1.8em;
   color: black;

}

.img1, .img2, .img3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img1{
    background-image: url(https://images.unsplash.com/photo-1720371300677-ba4838fa0678?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    min-height: 100%;
}
.img2{
    background-image: url(https://images.unsplash.com/photo-1595815771614-ade9d652a65d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    min-height: 100%;
}
.img3{
    background-image: url(https://images.unsplash.com/photo-1591018018950-798790d9f695?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    min-height: 100%;
}


.ptext{
    position: absolute;
    top: 90%;
    text-align: center;
    width: 100%;
    font-size: 30px;
    letter-spacing: 4px;

}
.textbg{
    background: #282e34;
    color: white;
    padding: 5px;
    border-radius: 5px;

}
.section{
    text-align: center;
    padding: 20px 30px;
}
.section-dark{
background-color: #282e34;
color: white;
}
.section-light{
    background-color: #282e34;
    color: white;
}
.section-deep{
    background-color: #282e34;
    color: white;
}
